<div
  fxLayout="row"
  fxLayoutGap=".5rem"
  fxLayoutAlign="start center"
>
  <div>Sorting by:</div>
  <button
    mat-button
    (click) = "sort(DATE)"
  >date
    <mat-icon *ngIf="sortType === DATE">
      {{sortDirectionIcon}}
    </mat-icon>
  </button>
  <button
    mat-button
    (click) = "sort(VIEWS)"
  >count of views
    <mat-icon *ngIf="sortType === VIEWS">
      {{sortDirectionIcon}}
    </mat-icon>
  </button>
</div>
<div
  fxLayout="row"
  fxLayoutGap=".5rem"
  fxLayoutAlign="start center"
>
  <div>by word or sentence:</div>
  <mat-form-field
  >
    <input
      matInput
      placeholder="includes..."
      (input)="youtubeService.onChangeFilter($event)"
    >
  </mat-form-field>
</div>
