<mat-card [appCardColor]="item.borderColor">
  <img mat-card-image [src]="item.image" [alt]="item.description">
  <mat-card-content fxLayout="row-wrap" fxLayoutAlign="space-around">
    <div fxLayout="row-wrap" fxLayoutAlign="center center">
      <mat-icon>visibility</mat-icon>{{item.viewCount}}
    </div>
    <div fxLayout="row-wrap" fxLayoutAlign="center center">
      <mat-icon>favorite</mat-icon>{{item.likeCount}}
    </div>
    <div fxLayout="row-wrap" fxLayoutAlign="center center">
      <mat-icon>thumb_down</mat-icon>{{item.dislikeCount}}
    </div>
    <div fxLayout="row-wrap" fxLayoutAlign="center center">
      <mat-icon>comment</mat-icon>{{item.commentCount}}
    </div>
  </mat-card-content>
  <mat-card-title>{{item.title}}</mat-card-title>
  <mat-card-actions fxLayout="row-wrap" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="goToDetailedInfo(item.id)">more...</button>
  </mat-card-actions>
</mat-card>
