$button-padding: 3rem;

mat-card {
  background-color: lavender;
  transition: 0.5s;
  &:hover {
    transform: translateY(5px);
  }
}

mat-card-title {
  height: 5rem;
  overflow: auto;
}

button {
  padding-left: $button-padding;
  padding-right: $button-padding;
}
